<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exxi</title>
</head>
<style>
    body{
        background-color: rgb(42, 42, 42);
        color: antiquewhite;
    }
</style>
<body>
    {% if user.is_authenticated %}
  Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">Çıkış</a></p>
    {% else %}
    <a href="{% url 'login' %}">Giriş</a>
    {% endif %}
    {%include 'navbar_temp.html'%}

    {%block content%}

    {%endblock%}


</body>
</html>